#nav_menu
{
    position: relative;
}
#nav_menu ul
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}
#nav_menu ul li
{
    float: left;
}
#nav_menu ul li .current
{
    color: yellow;
}
#nav_menu ul li #subMenu
{
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul li a
{
    display: block;
    width: 160px;
    text-align: center;

    padding-top: 1em;
    padding-bottom: 1em;

    text-decoration: none;
    color: white;
    font-weight: bold;

    background-color: #800000;

}
#nav_menu ul #subMenu li
{
    float: none;
}
#nav_menu ul li:hover > #subMenu
{
    display: block;
}
#nav_menu > ul::after
{
    content: "";
    display: block;
    clear: both;
}